@font-face {
    font-family: MonserratFuenteCustom;
    src: url(./fonts/Montserrat/Montserrat-Regular.ttf);
}

h1 {
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Mansalva', cursive;
    font-style: italic;
    text-transform: uppercase;
    font-size: 45px;
    /* Colores */
    /* Colores del sistema */
    color: mediumpurple;
    /* Colores hexadecimales */
    color: #6753ca99;
    /* Colores RGB */
    color: rgb(255, 255, 107);
    /* Colores RGBA */
    color: rgba(90, 77, 120, 0.8);
}

h3 {
    font-family: MonserratFuenteCustom, Comic Sans MS;
    font-size: 35px;
    font-weight: lighter;
    color: olive;
}

p {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
}